.erreur {
    color: red;
}

.succes {
    color: green;
}

.souligne {
    text-decoration: underline;
}

.boite {
    display: inline-block;
    border: black 2px solid;
}

.enregistrement p {
    display: inline-block;
}